.add-atividade-container{
    margin: 15px 0;
    width: 100%;
    display: inline;
}

.add-titulo-input,
.add-desc-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 260px;
    margin-bottom: 10px;
    outline: 1px solid white;
}

.add-titulo-input:focus,
.add-desc-input:focus {
    border: 2px solid #0d6efd;
}

.linha-1-titulo,
.linha-2-descricao{
    align-items: center;
    justify-content: space-between;
    display: flex;  
    flex-wrap: wrap;
}