.cards_tarefas {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

#card_tarefa {
    display: inline-block;
    min-width: 150px;
}

/* #card_tarefa:hover{
    cursor:grab;
}*/

.btn-close {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 10px;
}

.cardzinho {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardzinho:hover {
    background-color: rgb(250, 250, 250);
    border-color: #ccc;
}