.card {
    margin-bottom: 5px;
    border-color: #ced4da;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    color: #ced4da;
    align-items:center;
    align-content: flex-end;
}