.tarefas {
    margin-left: 2px;
}
.tarefa {
    border-top: 2px solid black;
    border-radius: 5px;
    padding-top: .5rem;
}
.tarefa_Aumentar {
    border-top: 5px solid gold;
}
.tarefa_Manter {
    border-top: 5px solid dodgerblue;
}
.tarefa_Diminuir {
    border-top:5px solid rgb(255, 153, 0);
}
.tarefa_Parar {
    border-top:5px solid tomato;
}
.tarefa_Começar {
    border-top: 5px solid forestgreen;
}