.cardNumero {
    height: 71px;
    width: 40px;
    text-align: center;
  }

.cardNumero:hover {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);
    transition: transform 0.3s;
	  transform-style: preserve-3d;
}

/*.cardNumero:focus {  
    background-color:#0d6efd;
    color: white;
}*/
  
  .cardUsers {
    height: 65px;
    width: 80px;
    text-align: center;
  }
  
  .linhaCardsNumero {
    padding-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .navCards {
    border-bottom: 10px solid #0d6efd;
    padding-bottom: 5px;
  }