* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

.containerchat {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.form {
  background: #434758;
  padding: 1rem;
}

.form__field {
  border: 1px solid #dcdcdc;
  border-radius: 1.5rem;
  color: #333;
  padding: .5rem 1rem;
  width: 100%;
}

.form__field:focus {
  border-color: #a3f7ff;
  box-shadow: 0 0 7px #a3f7ff;
  outline: none;
}

.list {
  margin: 0;
  padding: 1rem;
  height: calc(100% - 74px);
  overflow-y: auto;
}

.list__item {
  list-style: none;
}

.list__item.list__item--mine {
  text-align: right;
}

.username {
  display: block;
  font-size: small;
  color: #444;
  padding: 0 5px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message.message-- {
  text-align: left;
}

.message {
  border: 1px solid transparent;
  border-radius: .5rem;
  display: inline-block;
  list-style: none;
  margin-bottom: .1rem;
  padding: .3rem .5rem;
  word-break: break-all;
  max-width: 85%;
}

.message.message--mine {
  background: #0d6efd;
  text-align: left;
  color: #eee
}

.message.message--mine::selection {
  background: #eee;
  color: #333;
}

.message.message--other {
  background: #eee;
  text-align: left;
}

.message-date {
  display: block;
  font-size:50%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 5px;
  color: #888;
  margin-bottom: .3rem;
}
