body {
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: 24pt;
  font-style: oblique;
}

.espacamento{
  text-align: right;
}

.espacamento #botao{
  margin: 10px;
}

#cabecalho{
  height: 100px;
}

#equipe{
  padding-left: 330px;
}

.bot {
  width: 175px;
  height: 175px;
  
}
.bot:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
}