.container-in{
    max-width: 500px;
    margin: 30px auto;
    min-height: 300px;
    border: 2px solid #0d6efd;
    padding: 30px;
    border-radius: 10px;
}

#tituloFora, #descricaoFora{
    background-color: #fff;
}